<nav>
    <img src="/images/logo.jpg" alt="Your Logo">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/projects">Projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>
</nav>
