<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %><div class="container">
        <h1>About Aderinto Wakilat Omotoke</h1>
    
        <div class="profile-container">
            <img src="/images/omotoke.jpg" alt="Aderinto Wakilat Omotoke">
            <div>
                <h2>Aderinto Wakilat Omotoke</h2>
                <p>Student ID: 301284890</p>
                <p>Hello! I'm Aderinto Wakilat Omotoke, an ambitious and dedicated individual with a passion for software development. I'm always eager to embrace new challenges and further my skills in the tech realm. Browse through my portfolio to get a glimpse of my recent projects and accomplishments.</p>
    <a href="/docs/Resume.pdf">Download my resume</a>

            </div>
        </div>
    </div></body>
</html>
