<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
    <h1>Contact</h1>

    <div>
        <h1>Contact</h1>
        <p>Name: Aderinto Omotoke Wakilat</p>
        <p>Student ID: 301284890</p>
        <p>Email: omotokewakilat@yahoo.com</p>
        
        <form action="/contact" method="post">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="contactNumber" placeholder="Contact Number">
            <input type="email" name="email" placeholder="Email Address">
            <textarea name="message" placeholder="Your Message"></textarea>
            <button type="submit">Send Message</button>
        </form>        
</div>
</body>
</html>
