<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <div class="home-container">
            <h1>Welcome to My Personal Portfolio</h1>
            <p>Welcome to the personal portfolio of Aderinto Wakilat Omotoke. Here, you'll find an overview of my skills, accomplishments, and projects. I'm passionate about building innovative solutions that make a difference. Feel free to browse and get to know more about my journey in the tech world.</p>
            <h2>Mission Statement</h2>
            <p>My mission is to harness the power of technology to develop solutions that have a real-world impact. By continuously improving and challenging myself, I strive to be at the forefront of technological advancements and innovations.</p>
        </div>
    </div>
    
</body>
</html>
