<!DOCTYPE html>
<html>
<head>
    <title>Projects</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="container">
        <h1>Projects</h1>
    
        <div class="grid">
            <!-- Project 1 -->
            <div class="grid-item">
                <img src="/images/beginner_project.jpg" alt="Beginner's Web App">
                <h2>Beginner's Web App</h2>
                <p>My first foray into web development, this project showcases a simple CRUD application using HTML, CSS, and JavaScript.</p>
            </div>
    
            <!-- Project 2 -->
            <div class="grid-item">
                <img src="/images/intermediate_project1.jpg" alt="Dynamic Web Portal">
                <h2>Dynamic Web Portal</h2>
                <p>A step up, this project leverages the power of ExpressJS and MongoDB to create a dynamic content portal where users can share and comment on posts.</p>
            </div>
    
            <!-- Project 3 -->
            <div class="grid-item">
                <img src="/images/intermediate_project2.jpg" alt="Mobile-first E-commerce Site">
                <h2>Mobile-first E-commerce Site</h2>
                <p>Focusing on mobile users, this project presents an e-commerce site optimized for mobile navigation and purchases. It features an integrated payment gateway and user authentication system.</p>
            </div>
        </div>
    </div>
    
</body>
</html>
